+set_content_type("application/json")
current_post = get_doc(request.args.current_post_path)
posts = get_data(type='post', status='all', limit=20, sort='desc')
if current_post
	{{ posts.add(current_post, 0) }}
{{ posts.json }}