+need_admin()
set_content_type('application/json')
allowed_ext = ['html', 'jade', 'css', 'scss', 'sass', 'js', 'json', 'less', 'coffee']
{{ get_data(type='template', limit=200).filter('ext', allowed_ext).json }}

